/* 폰트 */
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 커서 
body {
  cursor: url(img/cursor.png), auto !important;
}

.cursor-pointer {
  cursor: url(img/cursor_2.png), auto !important;
} */

/* 노말라이즈 */
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.img-box>img {
  display: block;
  width: 100%;
}

.section-item {
  position: absolute;
}

/* 커스텀 */
body {
  min-width: 1920px;
  overflow-x:hidden;
  width:100vw;
  height:100vh;
  font-family: 'GmarketSansMedium';
}

main {
  overflow: hidden;
}

/* 탑바 */
.top-bar {
  position: fixed;
  z-index: 100;
  width: 1920px;
  height: 100px;
  background-color:#081B2B;
  top: 0;
  left: 0;
  padding: 0 320px;
}

.logo {
  height:50px;
}

.main-menu > li > a {
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'GmarketSansBold';
  font-size: 18px;
  color: #fff;
  padding:0 40px;
}

.sub-menu {
  display: none;
}

.sub-menu > li > a {
  display: block;
  padding:10px 30px;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081B2B;
}

.sub-menu > li:hover > a {
  background-color:#2897E9;
}

.site-menu {
  margin-right:50px;
}
.site-menu > li > a {
  display: block;
  margin: 0 15px;
}

.site-menu > li > a > img.active {
  display: none;
}

.lang-menu > li:first-child > a {
  color:#2897E9;
  font-weight: bold;
}

.lang-menu  > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'GmarketSansBold';
  font-size: 14px;
  color: #fff;
  margin-left:10px;
}

/* 홈 */

.swiper-slide {
  width:1920px;
  height:800px;
  overflow: hidden;
}

.mv-list .swiper-button-prev,
.mv-list .swiper-button-next {
  color:#fff;
}

.mv-list .swiper-button-prev {
  background: url(resource/img/btn_prev.png);
  margin-left:260px;
}

.mv-list .swiper-button-next {
  background-image: url(resource/img/btn_next.png);
  margin-right:260px;
}

.play-list {
  width:1920px;
  height:180px;
  background-color: #081B2B;
  position: relative;
}

.play-list .swiper-container {
  margin:0 390px;
}

.play-list .swiper-slide {
  height:170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-list .play-list__btn-prev,
.play-list .play-list__btn-next {
  position: absolute;
  width:30px;
  height: 30px;
  background-size: contain;
}

.play-list__btn-prev {
  background-image: url(img/btn_prev.png);
  top:50%;
  left:320px;
  transform:translateY(-50%);
}

.play-list__btn-next {
  background-image: url(img/btn_next.png);
  top:50%;
  right:320px;
  transform:translateY(-50%);
}